*.settings
*.classpath
*.project

*.pmd
#*/test-output/*
test-output
*.mymetadata
#*.test-output
*/settings
*/classpath
**/*/*.class

*/project
#*/test-output
*test-output
*/coverage-report
#*/video-db-sync
*target
*classes
*.mymetadata
*.MF
*.jar
/com.thirdparty.code.generator/bin
